/*Specificity: 0,0,1*/
section{
    background-color: rgb(241, 241, 241);
    color:rgb(0, 0, 0);
    border-radius: 5px;
	box-shadow: 0 0 20px rgb(170, 170, 170);
    margin: 2% auto;
    padding: 1%;
}
