/*Specificity: 0,0,1*/
body{
	color:#3d3d3d;
	background-color: rgba(255, 255, 255, 0);	
	background-image: url("resources/willian-justen-de-vasconcellos-_MMP5j_fCqw-unsplash.jpg");
	background-size: cover;
	font-family: 'Assistant', sans-serif;
	text-align:justify;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 2%;
}
/*Specificity: 0,0,1*/
main{
	background-color: rgb(255, 255, 255);
	color:#3d3d3d;
    padding: 1% 5%;
	box-shadow: 0 0 20px rgb(8, 8, 8);
}
/*Specificity: 0,0,1*/
h1{
	color:#333333;
	background-color: rgba(255, 255, 255, 0);	
    text-align:center;
	font-family: 'Barlow', sans-serif;
	font-size:40px;
}
/*Specificity: 0,0,1*/
h2{
	color:#535353;
	background-color: rgba(255, 255, 255, 0);	
}
/*Specificity: 0,0,1*/
a{
	color:#3d3d3d;
	background-color: rgba(255, 255, 255, 0);	
}
/*Specificity: 0,0,2*/
nav a {
	text-align: center;
	padding: 8px;	
	flex:3;
}
/*Specificity: 0,1,2*/
nav a:hover {
	background-color: rgba(78, 114, 114, 0.7);
	color: rgba(255, 255, 255);
	box-shadow: 0 0 10px rgb(43, 90, 90)
}
/*Specificity: 0,0,1*/
nav{
	display:flex;
	background-color:  rgba(255, 255, 255, 0.50);
	color:  rgb(0, 0, 0);

}
/*Specificity: 0,0,1*/
footer{
	background-color:  rgba(255, 255, 255, 0.50);
	color:  rgb(0, 0, 0);
    padding: 1% 5%;
}
/*Specificity: 0,0,2*/
footer p{
	font-size:12px;
}
