/*Each section will have a flexbox layout*/

/*Specificity: 0,0,1*/
img{
    width: 5%;
    height: 5%;
    margin:5%;
}
/*Specificity: 0,0,1*/
section{
    display:flex;
    margin:1%;
    padding: 1%;
}
