/*Specificity: 0,0,1*/
main{
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
/*Specificity: 0,0,1*/
img{
	filter: grayscale(100%);
	height:60%;
	width: 45%;
}
/*Specificity: 0,1,1*/
img:hover{
	filter: grayscale(0);
}